
.dropzone {
    background: white;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247);
    border-image: none;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.dropzone .dz-preview .dz-image {
    width: 100% !important;
    overflow: visible;
}
#image-container1{
    /* margin:20px; */
    height:100%;
    width:100%;
    border: none;
}
.img-hldr{
    margin:20px;

    background-color:#eee;
    border:1px dashed #000;
    height:200px;
    width:400px;
    cursor: pointer;
}
#upload-btn{
    position: absolute;
    bottom: 0;
    left: 40%;
}
.custom-img-hanlder .img-hldr{
  width: 400px;
  height: 250px;
  position: relative;
}
.custom-img-hanlder img{
  margin: 0;
  object-fit: cover;
}
.custom-img-hanlder .row-custom{
  width: 400px;
  height: 250px;
}
.custom-img-hanlder #cancel-btn, #cancel-btn12{
  position: absolute;
  z-index:9;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* star rating css */
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
  
  .rating > input{ display:none;}
  
  .rating > label {
    position: relative;
      width: 1em;
      font-size: 2vw;
      color: #FFD600;
      cursor: pointer;
  }
  .rating > label::before{ 
    content: "\2605";
    position: absolute;
    opacity: 0;
  }
  .rating > label:hover:before,
  .rating > label:hover ~ label:before {
    opacity: 1 !important;
  }
  
  .rating > input:checked ~ label:before{
    opacity:1;
  }
  
  .rating:hover > input:checked ~ label:before{ opacity: 0.4; }

  .main-sidebar {
    overflow: hidden !important;
}
td{
  min-width: 80px;
}
#nav-tool .container {
  justify-content: center;
}
#nav-tool .container .navbar-header, #clear_all, #copy_join_link {
  display: none;
}

#meeting_form .sdk-select, #meeting_form .form-control {
  width: 100%!important;
}
#nav-tool .websdktest {
    flex: 0 0 100%;
  }
#meeting_form .sdk-select {
  color: #495057;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
}
#meeting_form #join_meeting {
  min-width: 150px;
  float: right;
}
.main-header {
  z-index: 1;
}
button.setting-button, button.camera-control {
  top: 6px;
  padding: 0;
  left: auto;
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 0;
  align-items: center;
  justify-content: center;
  background-color: none!important;
}
button.setting-button svg, button.camera-control svg {
  width: 20px;
  fill: rgba(0,0,0,.5);
}
button.setting-button {
  right: 120px;
}
button.camera-control {
  right: 170px;
}
.main-header .nav-link {
  height: auto;
}
#camera-main {
  top: 62px;
}
#camera-main svg {
  width: 20px;
}
@media (min-width:1023.98px) {
  #nav-tool .websdktest {
    flex: 0 0 50%;
  }
}